# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Modelos y Pesos (No subir archivos .keras gigantes si no es necesario)
app/models/saved/*.keras
app/models/saved/*.tflite
app/models/saved/*.h5

# Datos y Audio
data/raw/*
data/processed/*
*.mid
*.mp3
*.wav

# IDEs
.vscode/
.idea/

