# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Audio y Datos (Bloqueo de archivos pesados)
*.mp3
*.wav
*.flac
data/raw/audio_input/

# Permitir explícitamente los MIDIs (que son ligeros)
!data/raw/chiptune_action/*.mid
!data/raw/chiptune_ambient/*.mid
!data/raw/acoustic_piano/*.mid
!data/raw/electric_rock/*.mid

# Modelo (Ignorar por defecto para evitar push accidentales desde local)
# El workflow lo subirá usando 'git add -f' o el script de python

# Logs y Sistema
*.log
.DS_Store

