fastapi
uvicorn
# Forzamos la versión exacta del entrenamiento
tensorflow==2.15.0
keras==2.15.0
# NumPy debe ser menor a 2.0.0 para no romper TensorFlow 2.15
numpy<2.0.0
mido
pretty_midi
scipy
huggingface_hub
python-multipart
# Añadimos librosa por si el composer lo usa para procesar audio
librosa

