fastapi
uvicorn
# Motor principal
tensorflow==2.15.0
# El puente necesario para el modo Legacy que activamos en main.py
tf_keras
keras==2.15.0
# Compatibilidad de tipos
numpy<2.0.0
# Librerías de Audio y MIDI
mido
pretty_midi
scipy
librosa
# Utilidades
huggingface_hub
python-multipart

